@media screen and (max-width: 450px), (max-height: 450px) {
    div#HomeBackground {
        background-position: 55% 100%;
    }
}

#HomeBackground {
    background-image: url('../../Assets/IMG_6891.jpeg');
    background-position: 90% 40%;
}