@media screen and (max-width: 450px), (max-height: 450px) {
    div#ContactBackground {
        background-position: 55% 100%;
    }

    div#ContactBody {
        flex-direction: column;
    }
}

#ContactBackground {
    background-image: url('../../Assets/Background.jpeg');
    background-position: 90% 40%;
}

#ContactBody {
    flex-direction: row;
}