.App {
  text-align: center;
  display: flex;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;

  background-image: url('./Assets/roof_tops.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 40%;
  overflow: hidden;

}